@model IEnumerable<AllPointsTransport.Models.vwDispatch_Progress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Container1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDispatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Container1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDispatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkOrderID })
        </td>
    </tr>
}

</table>
